force-app/main/default/flows/Case_Warning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Id_From_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>feedback</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorFeedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackBackgroundColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_FeedbackBackgroundColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackTextColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_FeedbackTextColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>circleColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_CircleColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackHeaderIcon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_HeaderIcon</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Problem</name>
        <label>Assign Problem</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>feedback</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProblemFeedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackBackgroundColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_FeedbackBackgroundColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackTextColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_FeedbackTextColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>circleColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_CircleColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackHeaderIcon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problem_HeaderIcon</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>feedback</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessFeedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackBackgroundColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Success_FeedbackBackgroundColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackTextColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Success_FeedbackTextColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>circleColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Success_CircleColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackHeaderIcon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Success_HeaderIcon</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Warning</name>
        <label>Assign Warning</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>feedback</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarningFeedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackBackgroundColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_FeedbackBackgroundColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackTextColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_FeedbackTextColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>circleColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_CircleColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feedbackHeaderIcon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warning_HeaderIcon</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Color_Scheme</name>
        <label>Determine Color Scheme</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Error Status</defaultConnectorLabel>
        <rules>
            <name>Assign_Successful_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Cases_Current_Month_Less_Than_Allowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Cases_Previous_Month_Less_Than_Half_Allowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Success</targetReference>
            </connector>
            <label>Assign Successful Status</label>
        </rules>
        <rules>
            <name>Assign_Warning_Status</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Is_Cases_Current_Month_Less_Than_Allowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Cases_Previous_Month_Greater_Than_Half_Allowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Cases_Current_Month_25Percent_Greater_Than_Allowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Cases_Previous_Month_Less_Than_75Percent_Allowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Warning</targetReference>
            </connector>
            <label>Assign Warning Status</label>
        </rules>
        <rules>
            <name>Assign_Problem_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Cases_Current_Month_Greater_Than_Allowed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Problem</targetReference>
            </connector>
            <label>Assign Problem Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Record_Type</name>
        <label>Determine Record Type</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Id_From_Case</targetReference>
            </connector>
            <label>Is Case</label>
        </rules>
        <rules>
            <name>Is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Records</targetReference>
            </connector>
            <label>Is Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Is_Cases_Current_Month_25Percent_Greater_Than_Allowed</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Account_Records.Cases_for_Current_Month__c} &gt; 1.25 * {!Get_Account_Records.Count_of_Cases_Monthly_Allowed__c}</expression>
    </formulas>
    <formulas>
        <name>Is_Cases_Current_Month_Greater_Than_Allowed</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Account_Records.Cases_for_Current_Month__c} &gt;={!Get_Account_Records.Count_of_Cases_Monthly_Allowed__c}</expression>
    </formulas>
    <formulas>
        <name>Is_Cases_Current_Month_Less_Than_Allowed</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Account_Records.Cases_for_Current_Month__c} &lt; {!Get_Account_Records.Count_of_Cases_Monthly_Allowed__c}</expression>
    </formulas>
    <formulas>
        <name>Is_Cases_Previous_Month_Greater_Than_Half_Allowed</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Account_Records.Cases_for_Previous_Month__c} &gt; 0.5 * {!Get_Account_Records.Count_of_Cases_Monthly_Allowed__c}</expression>
    </formulas>
    <formulas>
        <name>Is_Cases_Previous_Month_Less_Than_75Percent_Allowed</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Account_Records.Cases_for_Previous_Month__c} &lt; 0.75 * {!Get_Account_Records.Count_of_Cases_Monthly_Allowed__c}</expression>
    </formulas>
    <formulas>
        <name>Is_Cases_Previous_Month_Less_Than_Half_Allowed</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Account_Records.Cases_for_Previous_Month__c} &lt;= 0.5 * {!Get_Account_Records.Count_of_Cases_Monthly_Allowed__c}</expression>
    </formulas>
    <interviewLabel>Case Warning Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Warning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Id_From_Case</name>
        <label>Get Account Id From Case</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the account record to calculate the number of cases.</description>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Color_Scheme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>circleColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error_CircleColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#898989</stringValue>
        </value>
    </variables>
    <variables>
        <name>Error_FeedbackBackgroundColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#e0e0e0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Error_FeedbackTextColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#333333</stringValue>
        </value>
    </variables>
    <variables>
        <name>Error_HeaderIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>utility:report_issue</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.errorFeedback</elementReference>
        </value>
    </variables>
    <variables>
        <name>feedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>feedbackBackgroundColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>feedbackHeaderIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>feedbackTextColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Problem_CircleColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#ff2c2c</stringValue>
        </value>
    </variables>
    <variables>
        <name>Problem_FeedbackBackgroundColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#f8d7da</stringValue>
        </value>
    </variables>
    <variables>
        <name>Problem_FeedbackTextColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#721c24</stringValue>
        </value>
    </variables>
    <variables>
        <name>Problem_HeaderIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>utility:clear</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProblemFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.problemFeedback</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Success_CircleColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#008000</stringValue>
        </value>
    </variables>
    <variables>
        <name>Success_FeedbackBackgroundColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#d4edda</stringValue>
        </value>
    </variables>
    <variables>
        <name>Success_FeedbackTextColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#155724</stringValue>
        </value>
    </variables>
    <variables>
        <name>Success_HeaderIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>utility:success</stringValue>
        </value>
    </variables>
    <variables>
        <name>SuccessFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.successFeedback</elementReference>
        </value>
    </variables>
    <variables>
        <name>Warning_CircleColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#ffa500</stringValue>
        </value>
    </variables>
    <variables>
        <name>Warning_FeedbackBackgroundColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#ffeeba</stringValue>
        </value>
    </variables>
    <variables>
        <name>Warning_FeedbackTextColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#856404</stringValue>
        </value>
    </variables>
    <variables>
        <name>Warning_HeaderIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>utility:warning</stringValue>
        </value>
    </variables>
    <variables>
        <name>WarningFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.warningFeedback</elementReference>
        </value>
    </variables>
</Flow>
