force-app/main/default/flows/Update_Account_Case_Counts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Case_Counters</name>
        <label>Assign Case Counters</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>casesCurrentMonth</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases_for_Current_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesCurrentYear</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases_for_Current_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesPreviousMonth</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases_for_Previous_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesPreviousYear</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases_for_Previous_Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Case_Counts</targetReference>
        </connector>
    </assignments>
    <description>This flow is triggered when a Case record is created or updated. It calculates and updates the case counts for the associated Account.</description>
    <environments>Default</environments>
    <formulas>
        <name>currentMonthStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>currentYearStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>endOfCurrentYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>previousMonthEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 1) - 1</expression>
    </formulas>
    <formulas>
        <name>previousMonthStart</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) = 1, DATE(YEAR(TODAY()) - 1, 12, 1), DATE(YEAR(TODAY()), MONTH(TODAY()) - 1, 1))</expression>
    </formulas>
    <formulas>
        <name>previousYearEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1) - 1</expression>
    </formulas>
    <formulas>
        <name>previousYearStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) - 1, 1, 1)</expression>
    </formulas>
    <interviewLabel>Case Warning Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Case Counts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve the relevant fields from the Account object associated with the current Case record.</description>
        <name>Get_Account_Fields</name>
        <label>Get Account Fields</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases_for_Current_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve all Case records linked to the Account that were created in the current month.</description>
        <name>Get_Cases_for_Current_Month</name>
        <label>Get Cases for Current Month</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases_for_Current_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>currentMonthStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases_for_Current_Year</name>
        <label>Get Cases for Current Year</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases_for_Previous_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>currentYearStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases_for_Previous_Month</name>
        <label>Get Cases for Previous Month</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases_for_Previous_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>previousMonthStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>previousMonthEnd</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases_for_Previous_Year</name>
        <label>Get Cases for Previous Year</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Counters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>previousYearStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>previousYearEnd</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Case_Counts</name>
        <label>Update Account Case Counts</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cases_for_Current_Month__c</field>
            <value>
                <elementReference>casesCurrentMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_for_Current_Year__c</field>
            <value>
                <elementReference>casesCurrentYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_for_Previous_Month__c</field>
            <value>
                <elementReference>casesPreviousMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cases_for_Previous_Year__c</field>
            <value>
                <elementReference>casesPreviousYear</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>casesCurrentMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>casesCurrentYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>casesPreviousMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>casesPreviousYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
